@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

$nigerian-green: rgb(0, 135, 83);
$primary: $nigerian-green;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

#news {
  article {
    padding: 1rem;

    time {
      font-weight: bold;
      display: block;
    }
  }
}
