@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

$nigerian-green: rgb(0, 135, 83);
$primary: $nigerian-green;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

body {
  background: $light;
}

#header {
  .tabs {
    li.is-active {
      background-color: $light;
      color: $primary;
      border-radius: 5px 5px 0px 0px;
    }
  }
}

#top-profiles {
  a.card {
    display: block;
  }
}

#news {
  article {
    padding: 1rem;

    time {
      font-weight: bold;
      display: block;
    }
  }
}

#header {
  .hero-body {
    & > div {
      display: flex;
      flex-direction: row;
    }

    figure {
      display: inline;
    }
  }
}

.table {
  background-color: transparent;
}

.element {
    &.is-loading {
        position: relative;
        pointer-events: none;
        opacity: 0.5;
        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 2.5em);
            left: calc(50% - 2.5em);
            width: 5em;
            height: 5em;
            border-width: 0.25em;
        }
    }
}
